.App {

}

.todoList {
  width: 500px;
  position: absolute;
  margin-top: 50px;
  left: 600px;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.TodoListHeader {
  position: absolute;
  margin-left: 600px;
  font-size: 30px;
}

.filter-active {
  background-color: blue;
}